---
---

<!-- CONTACT -->
<section id="contact" class="contact container mb-5">
  <div class="row mt-4">
    <h2 class="section-title">Contact</h2>
    <div class="col-12 col-md-6">
      <!-- Cards LG -->
      <div class="contact__cards--lg d-none d-lg-block">
        <p>You can reach out to us through the following channels.</p>
        <div class="contact__card--lg">
          <h4><span class="fa fa-envelope"></span> Email:</h4>
          <a href="#" target="_blank">
            <p>example@gmail.com</p>
          </a>
        </div>
        <div class="contact__card--lg">
          <h4><span class="fab fa-instagram"></span> Instagram:</h4>
          <a href="#" target="_blank">
            <p>@example</p>
          </a>
        </div>
        <div class="contact__card--lg">
          <h4><span class="fab fa-whatsapp"></span> Whatsapp:</h4>
          <a href="#" target="_blank">
            <p>+1 651461644</p>
          </a>
        </div>
        <div class="contact__card--lg">
          <h4><span class="fab fa-telegram"></span> Telegram:</h4>
          <a href="#" target="_blank">
            <p>@example</p>
          </a>
        </div>
      </div>
    </div>

    <!-- Form -->
    <div class="col-12 col-lg-6">
      <p class="d-lg-none mt-4">
        One should, however, not forget that the not forget that the
      </p>
      <form
        class="contact__form"
      >
        <label class="form-label" for="name">Name <span>*</span></label>
        <input
          class="form-control mb-3"
          type="text"
          id="name"
          name="name"
          placeholder="Your name"
          maxlength="30"
          required
        />
        <label class="form-label" for="email">Email <span>*</span></label>
        <input
          class="form-control mb-3"
          type="email"
          id="email"
          name="email"
          placeholder="youremail@example.com"
          required
        />
        <label class="form-label" for="instagram">Instagram user</label>
        <input
          class="form-control mb-3"
          id="instagram"
          type="text"
          name="instagram"
          placeholder="Optional"
          maxlength="30"
        />
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label"
            >Message</label
          >
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            name="subject"
            maxlength="1000"
            required
            rows="3"></textarea>
        </div>
        <button type="submit" class="btn-main--md w-100"
          >Send message <span class="fa fa-paper-plane"></span></button
        >
      </form>
    </div>
  </div>
</section>
