---
const currentYear = new Date().getFullYear()
---

<!-- FOOTER -->
    <section class="footer container">
        <div class="row mt-4">
        <div class="d-lg-none">
            <div class="text-center">
                <a href="#">
                    <span class="fab fa-instagram"></span> 
                </a>
                <a href="#">
                    <span class="fab fa-whatsapp"></span> 
                </a>
                <a href="#">
                    <span class="fab fa-telegram"></span> 
                </a>
            </div>
        </div>
        </div>

        <div class="row mt-4">
            <p>All right reserved, Copyright © {currentYear.toString()}</p>
            <p>Made by <a target="_blank" href="https://fgbyte.com">@fgbyte</a></p>
        </div>
    </section>